# Spark Dataframe Basics

findspark is used to give path where to find spark, or else import pyspark would raise error

In [6]:
import findspark
findspark.init('/home/appzop2/spark-2.4.0-bin-hadoop2.7/')

In [7]:
import pyspark

## Start spark session

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

## transformations & actions

Transformations are where we do all the calculations like read, calculate

In [25]:
df = spark.read.json('people.json')

Actions are used to display, save dataframes.

In [26]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## Print schema of a dataframe

printSchema() method is used to display/read the structure of a dataframe

In [27]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

## View column names in dataframe

In [50]:
df.columns

['age', 'name']

# describe 
describe is a method which returns a dataframe with a column added, named 'summary'. It contains some statistical calculations of columns in that dataframe.

In [31]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

# Editing Schema
if the datasource is not clear, we can edit the schema of imported data.

In [32]:
from pyspark.sql.types import (StructField, StringType,
                              IntegerType,StructType)

In [45]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [46]:
final_struc = StructType(fields=data_schema)

In [47]:
df = spark.read.json('people.json',schema=final_struc)

In [48]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

## Grab data

In [51]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [61]:
df['age']

Column<b'age'>

<b>returns a column object

In [62]:
type(df['age'])

pyspark.sql.column.Column

### head([no. of rows required])
returns a <b>list</b> of row objects

In [84]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

<b>select data in row object

In [89]:
df.head(2)[1]['name']

'Andy'

## select returns dataframe with columns selected

In [63]:
df.select('age')

DataFrame[age: int]

In [64]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [67]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## add new column 
adding a new column with calculated values

In [69]:
df.withColumn('double_age',df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

<b>withColumn</b> 
    can also be used to replace existing column with new column

the above code doesn't change original dataframe, let's print the dataframe

In [72]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

## rename a column

In [71]:
df.withColumnRenamed('age','age_new').show()

+-------+-------+
|age_new|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

## use sql to interact 

Inorder to use sql, Dataframe has to be registered as temporary SQL view

In [73]:
df.createOrReplaceTempView('people')

In [76]:
results = spark.sql('SELECT * FROM people')

In [77]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [78]:
results1 = spark.sql('SELECT * FROM people WHERE age=30')

In [79]:
results1.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+